version: "3.9"

services:

  phoenix:
    image: arizephoenix/phoenix:latest
    ports:
      - "6006:6006"  # UI and OTLP HTTP collector

  chroma:
    image: chromadb/chroma:latest
    container_name: chromadb
    restart: always
    ports:
      - "8001:8000"
    volumes:
      - chroma-data:/chroma/chroma
    environment:
      IS_PERSISTENT: "TRUE"

  postgres_db:
    image: postgres:16
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppassword
      POSTGRES_DB: researcher_assistantdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi_app
    restart: always
    ports:
      - "8000:8000"
    environment:
      CHROMA_DB_HOST: "chroma"
      CHROMA_DB_PORT: "8000"
      PG_DB_HOST: "postgres_db"
      PG_DB_USER_NAME: "appuser"
      PG_password: "apppassword"
      PG_DB_NAME: "researcher_assistantdb"
      PG_DB_PORT: "5432"
    depends_on:
      postgres_db:
        condition: service_started
      chroma:
        condition: service_started
  ui:
    build:
      context: ./ui
    ports:
      - "8501:8501"


volumes:
  chroma-data:
  postgres_data:
